.header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border: 1px solid;
  border-radius: 20px;
 background: linear-gradient(90deg, rgba(0,36,13,1) 0%, rgba(218,125,0,1) 30%, rgba(255,0,0,1) 100%);
}

.logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
}
.nav-bar > ul {
  display: flex;
  font-size: 24px;
}

.nav-bar > ul >li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  padding: 5px;
  width: 200px;
  margin-top: 10px;
  text-align: center;
}
.res-card:hover{
  border: 1px solid;
  cursor: pointer;
  border-color: chocolate;
  border-radius: 5px;
}

.res-image{
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
.footer{
  text-align: center;
  border: 1px solid chocolate;
  margin-top: 10px;
}
.filter-container{
  display: flex;
  margin-top: 10px;
}
.filter-btn{
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-color: burlywood;
  box-shadow: 2px;
}

.filter-btn {
  padding: 10px;
  margin: 5px;
}
